<button type="button" class="button" id="start">Start Quiz</button>

{{#each questions as |question questionId|}}
  <div id="question-{{questionId}}" class="question" style="display: none">
    {{ question.question_text }}
    <br>
    <div>
    {{#each question.answers as |answer answerId|}}
      <input type="radio" data-is-correct="{{answer.is_correct}}" id="answer-q{{questionId}}-a{{answerId}}" onchange="displayButton()"/>
      <label for="answer-q{{questionId}}-a{{answerId}}">{{answer.answer_text}}</label>
    {{/each}}
    </div>
  </div>   
{{/each}}

<button type="button" id="submit" style="display: none">Submit Answer</button>

<div id="results" style="display: none">
    <p>Congrats, you've finished the lesson with a final score of <span id="finalScore">0</span>%! You may retry this lesson, leave a review, or return home to take another lesson!</p>
    <br>
    <button type="button" id="review">Leave a Review</button>
    <button type="button" id="retry">Retry</button>
    <button type="button" id="home">Return Home</button>
</div>

<script src="./js/japanese.js"></script>
